<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ChartMapper">
    <!-- 查询出每个日期的订单数量 -->
    <select id="findChartCount" resultType="chart">
      SELECT * FROM BS_CHART ORDER BY CREATEDATE ASC
    </select>
</mapper>